<div id="siteFooter">
  <div class="site-footer__navigation masthead  clearfix" role="presentation" aria-label="navigation">
    <div class="page-responsive-container">
      <footer class="top-footer-navigation__columns">
        <div class="navigation-column-menu__links" style="">
          <h6>Get to Know Us</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Accessibility</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Sustainability</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Investor Relations</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Become an Affiliate</a></li>
          </ul>
        </div>
        <div class="navigation-column-menu__links" style="">
          <h6>Business Market Place</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Self-Publish with Us</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">SetUp Marketplace</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Currency Converter</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">More Ways to make Money</a></li>
          </ul>
        </div>
        <div class="navigation-column-menu__links" style="">
          <h6>Accessibility & Investors</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Accessibility</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Sustainability</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Investor Relations</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Become an Affiliate</a></li>
          </ul>
        </div>
        <div class="navigation-column-menu__links" style="">
          <h6>Make Money with Us</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Self-Publish with Us</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">SetUp Marketplace</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Currency Converter</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">More Ways to make Money</a></li>
          </ul>
        </div>
        <div class="navigation-column-menu__links" style="">
          <h6>Make Money with Us</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Self-Publish with Us</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">SetUp Marketplace</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Currency Converter</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">More Ways to make Money</a></li>
          </ul>
        </div>
        <div class="navigation-column-menu__links" style="">
          <h6>Make Money with Us</h6>
          <ul class="footer-content-menu__list">
            <li class="menu-list__item"><a [routerLink]="['/']">Self-Publish with Us</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">SetUp Marketplace</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">Currency Converter</a></li>
            <li class="menu-list__item"><a [routerLink]="['/']">More Ways to make Money</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <div id="policyFooterLine">
      <div class="footer-link__line">
        <div class="page-responsive-container">
          <div class="copyright">
            <ul class="content-link-lists">
              <li class="link-first"><span class="copy-right"> &#169; 2025 All right reserved.</span></li>
              <li class="link-first"><a href="#">Terms and Privacy Policy</a></li>
              <li class="link-first"><a href="#">Your Privacy Choices</a></li>
            </ul>
          </div>
          <div class="copyright">
            <ul class="content-link-lists">
              <li class="link-first"><a href="#">CA Privacy Notice</a></li>
              <li class="link-first"><a href="#">Advertise About Our Adds</a></li>
              <li class="link-first"><a href="#">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

